<a href="https://colab.research.google.com/github/Soyoung-n/prac_class/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Codes for data generation

In [ ]:
with open('ids.txt', 'w') as f :
    f.write('ID\nJohn\nKarl\nAndy\nTim\n')

In [ ]:
with open('data1.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t1\t3\t1\nJohn\t1\t3\t3\nTom\t1\t1\t1\nKarl\t1\t1\t2\nKarl\t1\t3\t2\nKarl\t2\t2\t2\nAndy\t1\t2\t3')

In [ ]:
with open('data2.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t2\t3\t1\nJane\t1\t1\t3\nJane\t2\t2\t1\nMax\t3\t1\t2\nKarl\t1\t4\t2\nMax\t3\t2\t2\nMax\t2\t2\t1')

How to read ids

In [ ]:
ids = []
with open("ids.txt", encoding='utf-8') as f:
    for item in f:
        ids.append(item.strip())

How to read data

In [ ]:
with open("data1.txt", encoding='utf-8') as f:
  for item in f :
    nm, f1, f2, f3 = item.strip().split()
    print("nm: {}, f1: {}, f2: {}, f3: {}".format(nm, f1,f2,f3) )

nm: ID, f1: field1, f2: field2, f3: field3
nm: Tom, f1: 1, f2: 3, f3: 1
nm: John, f1: 1, f2: 3, f3: 3
nm: Tom, f1: 1, f2: 1, f3: 1
nm: Karl, f1: 1, f2: 1, f3: 2
nm: Karl, f1: 1, f2: 3, f3: 2
nm: Karl, f1: 2, f2: 2, f3: 2
nm: Andy, f1: 1, f2: 2, f3: 3

Generator from data file

In [8]:
import sys

In [9]:
fnm= 'data2.txt'

In [10]:
def fgenerator(fnm, iter_option=0) :
  with open(fnm, 'r', encoding='utf-8') as f:
    for idx, item in enumerate(f) :
      ID, V1, V2, V3 = item.strip().split()
      if iter_option== 0 :
        yield ID
      elif iter_option== 1 :
        yield V1
      elif iter_option== 2 :
        yield V2
      else :
        yield V3

Write 'new_data.txt' file

In [13]:
with open('new_data.txt', 'w') as fw:
  with open('data1.txt', encoding='utf-8') as f :
    for item in f :
      nm, f1, f2, f3 = item.strip().split()
      if nm in ids :
        fw.write(item)
  fw.write('\n')

  with open('data2.txt', encoding= 'utf-8') as f:
    for item in f:
      nm, f1, f1, f3 = item.strip().split()
      if nm in ids[1:] :
        fw.write(item)

In [14]:
with open('new_data.txt', encoding='utf-8') as f:
  for item in f:
    print(item)

ID	field1	field2	field3

John	1	3	3

Karl	1	1	2

Karl	1	3	2

Karl	2	2	2

Andy	1	2	3

Karl	1	4	2